* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* header styles */

header {
    background-image: url('/images/donation13.jpg');
    background-color: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 80vh;
    position: relative;
}

/* banner styles */

.banner {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding: 20px;

}

.banner-description {

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 30px;
}


.btn-primary {
    padding: 16px 20px;
    background: #ff5959;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
}

/* donate section styles */

.donate {
    text-align: center;
}

.section-title {
    margin-top: 130px;
    font-weight: 700;
    font-size: 45px;
    /* text-align: center; */
}

.section-description{
    width: 691px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #b3b3b3;
    text-align: center;
}

.select-amount{
    display: flex;
    justify-content: center;
}

.amount{
    margin-left: 30px;

}

.amount h3{
    background: #fafafa;
    width: 135px;
    color: #707070;
    padding: 44px 25px;
    margin: auto;
}

.amount h3:hover {
    background: #ffeeee;
    border: 2px solid #ff5959;
    border-radius: 5px;
  }

  .other-amount{
    margin-top: 70px;
  }

.other-amount p{
    margin-bottom: 15px;
}

.other-amount span {
    display: block;
    margin: auto;
    width: 55%;
    border: 1px solid #dadada;
    margin-bottom: 30px;
}